.mux-player-big-creator{
    --bottom-controls:none;
    --seek-backward-button:none;
    --seek-forward-button:none;
    width: 640px !important;
    margin: auto;
}


@media screen and (max-width: 1024px) {
    .mux-player-big-creator{
        width: 90% !important;
    }
    
}
